html, body {
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    font-size: 0.9rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'EB Garamond', serif;
    text-align: center;
    color: #025e85;
}

.white {
    color: whitesmoke;
}

p.scripture {
    font-family: 'Courgette', cursive;
    text-align: center;
}

a, button {
    font-size: 0.85rem;
}

img {
    float: left;
}

img.width {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img.rcorners {
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.w3-sidebar {
    z-index: 3;
    top: 34px;
    bottom: 0;
    height: inherit;
    border-right: slategrey 1px solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.w3-bottom {
    position: relative;
    width: 100%;
    z-index: 1;
}

.w3-border-bottom {
    border-bottom: 1px solid #7C99AC !important;
}
